.gC6COYWTT14rgbCWx4pWw {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
._37vkqMIV5ZO0PVYsP7jZQJ {
  position: relative;
}
._2a0yiOxZLsX7mBl32bIliq {
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  line-height: 29px;
  padding: 0 10px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
}
._2a0yiOxZLsX7mBl32bIliq:hover,
._2a0yiOxZLsX7mBl32bIliq:active,
._2FqeX5LU8CiD1wTAzphPqf,
._2a0yiOxZLsX7mBl32bIliq:visited {
  color: #FFFFFF;
}
._2a0yiOxZLsX7mBl32bIliq:hover,
._2a0yiOxZLsX7mBl32bIliq:focus {
  background-color: #ff415c;
}
._37vkqMIV5ZO0PVYsP7jZQJ:hover ._2yitZHOYAlAcgFs1SMIeJ5 {
  display: block;
}
._2yitZHOYAlAcgFs1SMIeJ5 {
  background-color: rgba(238, 239, 240, 0.76);
  border-radius: 5px;
  display: none;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  position: absolute;
  top: 100%;
  z-index: 10;
}
._2yitZHOYAlAcgFs1SMIeJ5 li {
  padding: 0 29px;
  text-align: left;
}
._2yitZHOYAlAcgFs1SMIeJ5 li a {
  color: #777777;
  font-size: 14px;
  line-height: 30px;
  white-space: nowrap;
}
._2yitZHOYAlAcgFs1SMIeJ5 li a:hover {
  background: inherit;
  color: #ff415c;
}

._3H0VM4LDuwZTjy777104p8 {
  max-width: 1366px;
  padding: 0 15px;
  margin: 0 auto;
}
._2uMVDViDhsirLN48WzOZuF {
  background: #0dc5db;
  background: linear-gradient(to right, #0dc5db 0%, #00a8b8 60%);
  color: #FFFFFF;
  z-index: 100;
}
._11sb-XvMSUb4tfqJ5Bpxuf {
  display: flex;
  justify-content: space-between;
}
.UkxUdVXM9M2MnX_yHIOB- {
  align-items: center;
  display: flex;
  margin-left: 21.5px;
  margin-right: 80px;
}
@media screen and (min-width: 992px) {
  .UkxUdVXM9M2MnX_yHIOB- {
    margin-left: 0;
  }
}
.UkxUdVXM9M2MnX_yHIOB- img {
  max-height: 60px;
}
.UkxUdVXM9M2MnX_yHIOB- span {
  font-family: 'Circe', Arial, sans-serif;
  font-size: 25px;
  font-weight: 100;
  line-height: 77px;
  text-transform: uppercase;
}
.uDOfAIjwIFqzVaN3PkyUt {
  display: flex;
}
._3Md9YJvcehb5Wp8NE3WMw- {
  display: none;
  flex: 1;
  text-align: center;
}
@media screen and (min-width: 992px) {
  ._3Md9YJvcehb5Wp8NE3WMw- {
    display: flex;
  }
}
._2c3BeudMGdAK-f0Ej4Ljki {
  align-items: center;
  cursor: pointer;
  display: none;
  justify-content: center;
  height: 77px;
  width: 77px;
}
@media screen and (min-width: 992px) {
  ._2c3BeudMGdAK-f0Ej4Ljki {
    display: flex;
  }
}
._2c3BeudMGdAK-f0Ej4Ljki img {
  width: 18px;
}
._24s6FJ0TF6BmtDBe_80AT0 {
  align-items: center;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 77px;
  outline: none;
  width: 77px;
}
@media screen and (min-width: 992px) {
  ._24s6FJ0TF6BmtDBe_80AT0 {
    display: none;
  }
}
._24s6FJ0TF6BmtDBe_80AT0 img {
  width: 34px;
}

._227GMFfoz_QsdYiMS2u3u3 {
  background: linear-gradient(to right, #0dc5db 0%, #00a8b8 60%);
  color: #FFFFFF;
  margin-top: 30px;
}
._2HYLlPO0HZFNLeJk0b3Esd {
  box-sizing: border-box;
  max-width: 1366px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 40px 0;
}
@media screen and (min-width: 1200px) {
  ._2HYLlPO0HZFNLeJk0b3Esd {
    flex-direction: row;
    padding: 40px 15px;
  }
}
.VyY_gO1PpUr0t2OjHOT2_ {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .VyY_gO1PpUr0t2OjHOT2_ {
    padding: 0;
  }
}
.VyY_gO1PpUr0t2OjHOT2_ a {
  padding: 10px;
}
._1eJ7Wf6VSOkq92AjmEqkN5 {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  ._1eJ7Wf6VSOkq92AjmEqkN5 {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  ._1eJ7Wf6VSOkq92AjmEqkN5 {
    padding: 0;
  }
}
._3v_AIiLADzaNedI8S4IO07,
._1Q3r5k8_iSkTwxN7TM9Ks1,
._2Kgtn1kZ9CKuUs3t4JVIz_ {
  align-items: center;
  font-family: 'Circe', Arial, sans-serif;
  font-size: 12px;
  display: flex;
  padding: 20px 0;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  ._3v_AIiLADzaNedI8S4IO07,
  ._1Q3r5k8_iSkTwxN7TM9Ks1,
  ._2Kgtn1kZ9CKuUs3t4JVIz_ {
    flex-direction: row;
    padding: 20px;
  }
}
._3v_AIiLADzaNedI8S4IO07 img,
._1Q3r5k8_iSkTwxN7TM9Ks1 img,
._2Kgtn1kZ9CKuUs3t4JVIz_ img {
  height: 38px;
  width: 38px;
  margin-right: 10px;
}
._3v_AIiLADzaNedI8S4IO07 div a,
._1Q3r5k8_iSkTwxN7TM9Ks1 div a,
._2Kgtn1kZ9CKuUs3t4JVIz_ div a,
._3v_AIiLADzaNedI8S4IO07 div a:visited,
._1Q3r5k8_iSkTwxN7TM9Ks1 div a:visited,
._2Kgtn1kZ9CKuUs3t4JVIz_ div a:visited {
  color: #FFFFFF;
  text-decoration: none;
}
._3v_AIiLADzaNedI8S4IO07 div p,
._1Q3r5k8_iSkTwxN7TM9Ks1 div p,
._2Kgtn1kZ9CKuUs3t4JVIz_ div p {
  margin: 0;
}

._2yk_aLoQ5XQ27C9RnoZafw {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  transition: all ease-in-out 0.5s;
}
._1kPGnLim9-_dtcKUD-mDa3 {
  box-sizing: border-box;
  height: 77px;
  text-align: right;
  padding-right: 37px;
  padding-top: 22px;
}
._2cPfHgVBgyqrMjVtjNFaqp {
  box-sizing: border-box;
  padding-bottom: 40px;
}
.DvTxWYfwULcoK8dTweCus {
  list-style: none;
}
.DvTxWYfwULcoK8dTweCus li {
  margin-bottom: 5px;
}
.DvTxWYfwULcoK8dTweCus li a {
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.yT07IFGRYM7F7etZ0MD-P {
  list-style: none;
}

._3oYCQ7kEwnDEAQfXAnEUXX {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.DX4t8neYCX1BK8_fsoU65 {
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16), 0 0px 6px rgba(0, 0, 0, 0.23);
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .DX4t8neYCX1BK8_fsoU65 {
    display: flex;
    justify-content: space-between;
  }
}
.IEUOMnUyAToQoBHoPQpVF {
  text-align: right;
}
.sM2o0Xoqibkc8tgzDBnnO {
  font-size: 30px;
}
.fzrbYGNh4Ik_ScuilwpNk {
  font-size: 30px;
}


/*# sourceMappingURL=styles.chunk.css.map*/