.mainnav {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.mainnav--parentli {
  position: relative;
}
.mainnav--parentli--link {
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  line-height: 29px;
  padding: 0 10px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
}
.mainnav--parentli--link:hover,
.mainnav--parentli--link:active,
.mainnav--parentli--linkfocus,
.mainnav--parentli--link:visited {
  color: #FFFFFF;
}
.mainnav--parentli--link:hover,
.mainnav--parentli--link:focus {
  background-color: #ff415c;
}
.mainnav--parentli:hover .mainnav--inner {
  display: block;
}
.mainnav--inner {
  background-color: rgba(238, 239, 240, 0.76);
  border-radius: 5px;
  display: none;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  position: absolute;
  top: 100%;
  z-index: 10;
}
.mainnav--inner li {
  padding: 0 29px;
  text-align: left;
}
.mainnav--inner li a {
  color: #777777;
  font-size: 14px;
  line-height: 30px;
  white-space: nowrap;
}
.mainnav--inner li a:hover {
  background: inherit;
  color: #ff415c;
}

.header {
  background: #0dc5db;
  background: linear-gradient(to right, #0dc5db 0%, #00a8b8 60%);
  color: #FFFFFF;
  z-index: 100;
}
.header--inner {
  display: flex;
  justify-content: space-between;
}
.header--logo {
  align-items: center;
  display: flex;
  margin-left: 21.5px;
  margin-right: 80px;
}
@media screen and (min-width: 992px) {
  .header--logo {
    margin-left: 0;
  }
}
.header--logo img {
  max-height: 60px;
}
.header--logo span {
  font-family: 'Circe', Arial, sans-serif;
  font-size: 25px;
  font-weight: 100;
  line-height: 77px;
  text-transform: uppercase;
}
.header--right {
  display: flex;
}
.header--nav {
  display: none;
  flex: 1;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .header--nav {
    display: flex;
  }
}
.header--search {
  align-items: center;
  cursor: pointer;
  display: none;
  justify-content: center;
  height: 77px;
  width: 77px;
}
@media screen and (min-width: 992px) {
  .header--search {
    display: flex;
  }
}
.header--search img {
  width: 18px;
}
.header--burger {
  align-items: center;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 77px;
  outline: none;
  width: 77px;
}
@media screen and (min-width: 992px) {
  .header--burger {
    display: none;
  }
}
.header--burger img {
  width: 34px;
}

.footer {
  background: linear-gradient(to right, #0dc5db 0%, #00a8b8 60%);
  color: #FFFFFF;
  margin-top: 30px;
}
.footer--container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 40px 0;
}
@media screen and (min-width: 1200px) {
  .footer--container {
    flex-direction: row;
    padding: 40px 15px;
  }
}
.socials {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .socials {
    padding: 0;
  }
}
.socials a {
  padding: 10px;
}
.contacts {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .contacts {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    padding: 0;
  }
}
.address,
.phone,
.email {
  align-items: center;
  font-family: 'Circe', Arial, sans-serif;
  font-size: 12px;
  display: flex;
  padding: 20px 0;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .address,
  .phone,
  .email {
    flex-direction: row;
    padding: 20px;
  }
}
.address img,
.phone img,
.email img {
  height: 38px;
  width: 38px;
  margin-right: 10px;
}
.address div a,
.phone div a,
.email div a,
.address div a:visited,
.phone div a:visited,
.email div a:visited {
  color: #FFFFFF;
  text-decoration: none;
}
.address div p,
.phone div p,
.email div p {
  margin: 0;
}

.mobileNav--container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  transition: all ease-in-out 0.5s;
}
.close {
  box-sizing: border-box;
  height: 77px;
  text-align: right;
  padding-right: 37px;
  padding-top: 22px;
}
.MobileNav {
  box-sizing: border-box;
  padding-bottom: 40px;
}
.MobileNavUl {
  list-style: none;
}
.MobileNavUl li {
  margin-bottom: 5px;
}
.MobileNavUl li a {
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.MobileNavInner {
  list-style: none;
}

.page--header {
  font-family: 'Circe', Arial, sans-serif;
  text-transform: uppercase;
}
.page--header h1 {
  color: #ff415c;
  font-weight: bold;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.posts--container {
  max-width: 678px;
  padding: 0 15px;
  margin: 0 auto;
}
.post-item--card {
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
  margin-bottom: 30px;
  padding: 15px;
}
.post-item--card img {
  cursor: pointer;
  max-width: 100%;
  height: auto;
}
.post-item--card h2 {
  cursor: pointer;
  font-size: 30px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: Circe;
  font-weight: 200;
}
.post-item--card h5 {
  cursor: pointer;
  color: #9c9c9c;
  font-size: 18px;
  margin-top: 0;
  text-transform: uppercase;
  font-family: Circe;
  line-height: 1;
}
.post-item--card--excerpt {
  cursor: pointer;
  font-size: 14px;
}
.posts--details-cover {
  position: relative;
}
.posts--details-cover--caption {
  position: absolute;
  bottom: 15px;
  right: 15px;
  opacity: 0.4;
}
.posts--details-cover--caption:hover {
  opacity: 1;
}
.posts--details-header {
  font-family: 'Circe', Arial, sans-serif;
  text-transform: uppercase;
}
.posts--details-header h1 {
  color: #ff415c;
  font-weight: bold;
  margin-bottom: 0;
}
.posts--details-header h2 {
  color: #b9b9b9;
  margin-top: 0;
}
.posts--content img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

.promo {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .promo {
    flex-direction: row;
  }
}
.promoCarousel {
  min-width: 50%;
}
.promoCarousel img {
  width: 100%;
}
.promoText {
  background-color: #a9edf5;
  position: relative;
}
@media screen and (min-width: 992px) {
  .promoText {
    background-image: none;
    width: 50%;
  }
}
.promoTextInner {
  background-image: url("/static/images/hzbg-big.png");
  background-position: 23% 100%;
  box-sizing: border-box;
  color: #FFFFFF;
  min-width: 50%;
  padding: 13.61639824%;
  height: 100%;
}
@media screen and (min-width: 992px) {
  .promoTextInner {
    background-image: url(/static/images/hzbg-big.png);
    background-position: left;
    box-sizing: border-box;
    color: #FFFFFF;
    min-width: 50%;
    padding: 13.61639824%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 120%;
    height: 100%;
    top: 0;
    left: -20%;
    padding: 36% 15% 8% 38%;
  }
}
@media screen and (min-width: 1200px) {
  .promoTextInner {
    padding: 41% 44% 10% 26%;
  }
}
.promoTextInner h1 {
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
}
.promoTextInner h3 {
  font-weight: 200;
  text-transform: uppercase;
}

.catalogHeading {
  background: linear-gradient(to right, #0dc5db 0%, #00a8b8 60%);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .catalogHeading {
    background-image: url('/static/images/catalog_header_bg.png');
    margin-bottom: 0;
  }
}
.catalogHeadingInner {
  align-items: center;
  display: flex;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .catalogHeadingInner {
    padding: 15px 15px 67px 15px;
  }
}
@media screen and (min-width: 992px) {
  .catalogHeadingInner {
    padding-bottom: 89px;
    padding-left: 104px;
    padding-top: 58px;
  }
}
.catalogHeadingInner img {
  margin-right: 38px;
}
.catalogHeadingInner span {
  color: #FFFFFF;
  font-size: 20px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .catalogHeadingInner span {
    font-size: 28px;
  }
}
@media screen and (min-width: 992px) {
  .catalogHeadingInner span {
    font-size: 38px;
  }
}
.catalogList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .catalogList {
    align-items: initial;
    flex-direction: row;
  }
}
.catalogItem {
  cursor: pointer;
  padding: 5px;
  width: 290px;
}
@media screen and (min-width: 768px) {
  .catalogItem {
    width: 30%;
  }
}
.catalogItem .imgContainer {
  align-items: center;
  border: 2px solid transparent;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16), 0 0px 6px rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 10%;
  height: 290px;
  width: 100%;
}
@media screen {
  .catalogItem .imgContainer {
    height: 330px;
  }
}
@media screen and (min-width: 992px) {
  .catalogItem .imgContainer {
    height: 428px;
  }
}
.catalogItem .imgContainer img {
  max-height: 100%;
  max-width: 100%;
}
.catalogItemName {
  color: #4BAEC2;
  font-size: 18px;
  padding: 39px 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .catalogItemName {
    font-size: 27px;
  }
}
@media screen and (min-width: 768px) {
  .catalogItem:not(:last-of-type) .catalogItemName:after {
    border-right: 2px solid #EEEFF0;
    content: '';
    height: 105px;
    position: absolute;
    right: -6px;
    top: 5px;
    width: 2px;
  }
}
.catalogItem:hover .imgContainer {
  border: 2px solid #ff415c;
}
.catalogItem:hover .catalogItemName {
  color: #ff415c;
}

.carousel {
  position: relative;
  height: 500px;
  width: 500px;
  min-width: 500px;
  overflow: hidden;
}
.slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  display: inline-block;
  width: 500px;
  height: 100%;
}
.sliderWrapper {
  transition: transform ease-out 0.45s;
  height: 100%;
}
.controls {
  display: flex;
  height: 100%;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.controls .arrowLeft {
  align-items: center;
  cursor: pointer;
  display: flex;
  outline: none;
  padding: 10px;
  transition: all ease-in-out 0.5s;
  justify-content: flex-start;
  width: 30%;
}
.controls .arrowLeft:hover img,
.controls .arrowLeft:focus img {
  transform: scale(1.1);
}
.controls .arrowRight {
  align-items: center;
  cursor: pointer;
  display: flex;
  outline: none;
  padding: 10px;
  transition: all ease-in-out 0.5s;
  justify-content: flex-end;
  width: 70%;
}
.controls .arrowRight:hover img,
.controls .arrowRight:focus img {
  transform: scale(1.1);
}
.pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 24px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}
.paginationDot {
  background-color: #7ACEFA;
  border-radius: 100%;
  height: 6px;
  width: 6px;
  margin: 0 11px;
}
.paginationDotActive {
  background-color: #7ACEFA;
  border-radius: 100%;
  height: 6px;
  width: 6px;
  margin: 0 11px;
  background-color: #ff415c;
}

.button {
  background: #ff415c;
  border-radius: 10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  padding: 14px 30px;
  text-transform: uppercase;
  outline: none;
}
.button:hover,
.button:focus {
  background: #ff5b72;
}
@media screen and (min-width: 992px) {
  .button {
    font-size: 18px;
    padding: 28px 70px;
  }
}

.orderHeading {
  background: linear-gradient(to right, #00baab 0%, #00c0cd 53%, #00c3da 100%);
}
@media screen and (min-width: 768px) {
  .orderHeading {
    background-image: url('/static/images/order_header_bg.png');
    background-position: top center;
    background-size: 150%;
    background-repeat: no-repeat;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .orderHeading {
    background-position: right;
    background-size: initial;
  }
}
.orderHeadingInner {
  align-items: center;
  display: flex;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .orderHeadingInner {
    padding: 15px 15px 67px 15px;
  }
}
@media screen and (min-width: 992px) {
  .orderHeadingInner {
    padding-bottom: 89px;
    padding-left: 104px;
    padding-top: 58px;
  }
}
.orderHeadingInner img {
  margin-right: 38px;
}
.orderHeadingInner span {
  color: #FFFFFF;
  font-size: 20px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .orderHeadingInner span {
    font-size: 28px;
  }
}
@media screen and (min-width: 992px) {
  .orderHeadingInner span {
    font-size: 38px;
  }
}
.orderContent {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
@media screen and (min-width: 768px) {
  .orderContent {
    flex-direction: row;
  }
}
.orderContentSlider {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .orderContentSlider {
    width: 50%;
  }
}
.orderContentText {
  color: #777777;
  text-align: center;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .orderContentText {
    padding: 0;
    text-align: initial;
    width: 50%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
}
.orderContentText h2 {
  color: #ff415c;
  font-family: 'Circe', Arial, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
}
@media screen and (min-width: 992px) {
  .orderContentText h2 {
    font-size: 38px;
  }
}
.orderContentText p {
  padding-bottom: 20px;
}
.carousel {
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16), 0 0px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  height: 290px;
  width: 290px;
  min-width: 290px;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .carousel {
    width: 500px;
    min-width: 500px;
    height: 395px;
  }
}
@media screen and (min-width: 1200px) {
  .carousel {
    width: 623px;
    min-width: 623px;
    height: 492px;
  }
}
.slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  display: inline-block;
  width: 290px;
  height: 100%;
}
@media screen and (min-width: 992px) {
  .slide {
    width: 500px;
    min-width: 500px;
    height: 395px;
  }
}
@media screen and (min-width: 1200px) {
  .slide {
    width: 623px;
    min-width: 623px;
    height: 492px;
  }
}

.serviceHeading {
  background: linear-gradient(to right, #0dc5db 0%, #00a8b8 60%);
}
@media screen and (min-width: 768px) {
  .serviceHeading {
    background-image: url('/static/images/service_header_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .serviceHeading {
    background-position: right;
  }
}
.serviceHeadingInner {
  align-items: center;
  display: flex;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .serviceHeadingInner {
    padding: 15px 15px 67px 15px;
  }
}
@media screen and (min-width: 992px) {
  .serviceHeadingInner {
    padding-bottom: 89px;
    padding-left: 104px;
    padding-top: 58px;
  }
}
.serviceHeadingInner img {
  margin-right: 38px;
}
.serviceHeadingInner span {
  color: #FFFFFF;
  font-size: 20px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .serviceHeadingInner span {
    font-size: 28px;
  }
}
@media screen and (min-width: 992px) {
  .serviceHeadingInner span {
    font-size: 38px;
  }
}
@media screen and (min-width: 768px) {
  .serviceSlider {
    width: 50%;
    display: flex;
    justify-content: center;
  }
}
.serviceContent {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
@media screen and (min-width: 768px) {
  .serviceContent {
    flex-direction: row;
  }
}
.serviceContentText {
  color: #777777;
  text-align: center;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .serviceContentText {
    padding: 0;
    text-align: initial;
    width: 50%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
}
.serviceContentText h2 {
  color: #ff415c;
  font-family: 'Circe', Arial, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
}
@media screen and (min-width: 992px) {
  .serviceContentText h2 {
    font-size: 38px;
  }
}
.serviceContentText p {
  padding-bottom: 20px;
}
.serviceContentSlider {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .serviceContentSlider {
    width: 50%;
  }
}
.carousel {
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16), 0 0px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  height: 290px;
  width: 290px;
  overflow: hidden;
  margin-top: 20px;
}
@media screen and (min-width: 992px) {
  .carousel {
    width: 500px;
    min-width: 500px;
    height: 395px;
  }
}
@media screen and (min-width: 1200px) {
  .carousel {
    width: 623px;
    min-width: 623px;
    height: 492px;
  }
}
.slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  display: inline-block;
  width: 290px;
  height: 100%;
}
@media screen and (min-width: 992px) {
  .slide {
    width: 500px;
    min-width: 500px;
    height: 395px;
  }
}
@media screen and (min-width: 1200px) {
  .slide {
    width: 623px;
    min-width: 623px;
    height: 492px;
  }
}

.productItem {
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16), 0 0px 6px rgba(0, 0, 0, 0.23);
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .productItem {
    display: flex;
    justify-content: space-between;
  }
}
.productItemDescription {
  text-align: right;
}
.productItemDescriptionName {
  font-size: 30px;
}
.productItemDescriptionPrice {
  font-size: 30px;
}


/*# sourceMappingURL=styles.chunk.css.map*/